html,
body {
    padding: 1em;
    margin: 0;
    background-color: #fff;
    text-align: center;
    font-family: arial;
}

h1 {
    margin: 30px 0;
    font-size: 23px;
    font-weight: 300;
    color: #fff;
}

p {
    margin: 40px;
}

a {
    color: #DD8383;
    transition: color 0.2s;
}
a:hover {
    color: #9B5151;
}

.share-container {
    max-width: 300px;
    padding: 1em 1em 5em;
    margin: 20px auto;
    background-color: #DD8383;
    border-radius: 10px;
    box-shadow: 2px 2px 0 0px #9B5151;
}

.stoopid-icon {
    margin: 0 2px 4px !important;
}